{
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-new": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
